@font-face {
  font-family: Font;
  src: url("./Font.ttf");
}
:root {
  --bg: #151515;
  --al: #0f0f0f;
  --fg: #E8E3E3;
  
  /* light version */
  /* --bg: #E8E3E3; */
  /* --al: #d0cccc; */
  /* --fg: #424242; */
}
* {
  margin: 0;
  text-decoration: none;
  transition: 0.5s ease;
  font-family: Font, sans-serif;
  text-align: center;
  font-size: 1em;
  color: var(--fg);  
}
body {
  padding: 1em;
  background-color: var(--al);
}
form, .todo-element {
  display: grid;
  grid-template-columns: 1fr 0.05fr;
}
button, input, p {
  padding: 1em;
  background-color: var(--bg);
  border: none;
  outline: none;
}
p {
  word-break: break-all;
}
button:hover, button:focus, a:hover {
  opacity: 0.5;
}
.done {
  text-decoration: line-through;
  opacity: 0.5;
}
